body{
	text-align: center;
	/*background-color:  #FF851B;*/
}

.params-col {
	width: 20%;
}

.network {
	height: 600px;
	width: 100%;
	position: relative;
}

.layer-rows {
	width: 100%;
	table-layout:fixed;
}

.neuron {
	padding: 10px;
}

.layer-buttons {
	padding: 10px;
}

.network-buttons {
	padding: 10px;
}

canvas {
	width: 35px;
	height: 35px;
	background-color: red;
	border: 2px solid black;
}

/*Styling for SVG elements*/

svg {
	z-index: -1;
	position: absolute;
}